<tr *ngIf="product">
  <td>{{product.id}}</td>
  <td>{{product.name}}</td>
  <td>{{product.price}}</td>
  <td>{{product.quantity}}</td>
  <td>{{product.selected}}</td>
  <td><span [ngClass]="product.available?'fa fa-check text-success':''"></span> </td>
  <td>
    <button (click)="onSelect(product)" [ngClass]="product.selected?'btn-outline-success':'btn-outline-danger'" class="btn btn-sm" >
      <span *ngIf="product.selected">unselect</span>
      <span *ngIf="!product.selected">select</span>
    </button>
  </td>
  <td>
    <button (click)="onDelete(product)" class="btn btn-outline-danger" >
      <span class="fa fa-trash-o"></span>
    </button>
  </td>
  <td>
    <button (click)="onEdit(product.id)" class="btn btn-outline-danger" >
      <span class="fa fa-edit"></span>
    </button>
  </td>
</tr>
